<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>One Place API</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='style.css') }}"
    />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
  </head>

  <body>
    <div>
      <h1>[One Place Atlas]</h1>
    </div>
    <script
      type="text/javascript"
      src="{{  url_for('static', filename='index.js')}}"
    ></script>
    <script
      async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhaUTHgJaSrJFwImYkG5S5VDx3J1wcbD0&libraries=places&loading=async&callback=initMap"
    ></script>
    <div id="map"></div>

    <footer>
      <div class="contact-us">
        <h2>Contact Us</h2>
        <p>
          If you have any questions or feedback, feel free to reach out to us:
        </p>
        <p></p>
        <ul>
          <li>Email: skibiditoilet@sigmamail.com</li>
          <li>Phone: 123-456-7890</li>
          <li>Address: 35 Labaw Way, Belle Mead, New Jersey, 08502</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
